@import "tailwindcss";

body{
background-color: rgb(2 6 23);
}



/* ocean blue */
@theme{
  --color-themeColor: #0f172a;
  --color-bgSurface: #1e293b;     
  
  --color-textPrimary: #f0f9ff;
  --color-textMuted: #94a3b8;
  
  --color-accent: #3b82f6;
  --color-accentSoft: #60a5fa;
  
  --color-border: #1e293b;
}

/* sunset orange */
@theme{
  --color-themeColor: #1a1a1a;
  --color-bgSurface: #2c1a1a;
  
  --color-textPrimary: #ffe5d4;
  --color-textMuted: #ffb399;
  
  --color-accent: #f97316;
  --color-accentSoft: #fb923c;
  
  --color-border: #3d1a1a;
}

/* forest green */
@theme{
  --color-themeColor: #0b3d0b;
  --color-bgSurface: #145214;
  
  --color-textPrimary: #d4f4d4;
  --color-textMuted: #94b49f;
  
  --color-accent: #22c55e;
  --color-accentSoft: #4ade80;
  
  --color-border: #145214;
}

/* the last one will be considered */
/* ice blue */
@theme{
  --color-themeColor: #0a1a1f;
  --color-bgSurface: #14303a;
  
  --color-textPrimary: #e0f7ff;
  --color-textMuted: #9fc5e8;
  
  --color-accent: #0ea5e9;
  --color-accentSoft: #38bdf8;
  
  --color-border: #14303a;
}