@import "tailwindcss";

body{
background-color: rgb(2 6 23);
}



/* ocean blue */
@theme{
  --color-themeColor: #0f172a;
  --color-bgSurface: #1e293b;     
  
  --color-textPrimary: #f0f9ff;
  --color-textMuted: #94a3b8;
  
  --color-accent: #3b82f6;
  --color-accentSoft: #60a5fa;
  
  --color-border: #1e293b;
}

/* sunset orange */
@theme{
  --color-themeColor: #1a1a1a;
  --color-bgSurface: #2c1a1a;
  
  --color-textPrimary: #ffe5d4;
  --color-textMuted: #ffb399;
  
  --color-accent: #f97316;
  --color-accentSoft: #fb923c;
  
  --color-border: #3d1a1a;
}

/* forest green */
@theme{
  --color-themeColor: #0b3d0b;
  --color-bgSurface: #145214;
  
  --color-textPrimary: #d4f4d4;
  --color-textMuted: #94b49f;
  
  --color-accent: #22c55e;
  --color-accentSoft: #4ade80;
  
  --color-border: #145214;
}

/* royal purple */
@theme{
  --color-themeColor: #1a0b3d;
  --color-bgSurface: #2e1a4d;
  
  --color-textPrimary: #ede6ff;
  --color-textMuted: #c1b3e0;
  
  --color-accent: #8b5cf6;
  --color-accentSoft: #a78bfa;
  
  --color-border: #2e1a4d;
}

/* cyberpunk neon */
@theme{
  --color-themeColor: #0f0f1a;
  --color-bgSurface: #1a1a33;
  
  --color-textPrimary: #f5f5f5;
  --color-textMuted: #b0b0ff;
  
  --color-accent: #ff00ff;
  --color-accentSoft: #ff66ff;
  
  --color-border: #333366;
}

/* earthy brown */
@theme{
  --color-themeColor: #2b1a0b;
  --color-bgSurface: #3b2a1a;
  
  --color-textPrimary: #f5e1d1;
  --color-textMuted: #bfa68f;
  
  --color-accent: #c08441;
  --color-accentSoft: #d6a471;
  
  --color-border: #3b2a1a;
}



/* coral pink */
@theme{
  --color-themeColor: #2a0a0a;
  --color-bgSurface: #3a1a1a;
  
  --color-textPrimary: #ffe5e5;
  --color-textMuted: #ffb3b3;
  
  --color-accent: #f87171;
  --color-accentSoft: #fb8989;
  
  --color-border: #3a1a1a;
}

/* midnight blue */
@theme{
  --color-themeColor: #0b1a3d;
  --color-bgSurface: #142a5a;
  
  --color-textPrimary: #dce6ff;
  --color-textMuted: #94a3b8;
  
  --color-accent: #2563eb;
  --color-accentSoft: #3b82f6;
  
  --color-border: #142a5a;
}

/* lemon yellow */
@theme{
  --color-themeColor: #1a1a0b;
  --color-bgSurface: #2a2a1a;
  
  --color-textPrimary: #ffffe0;
  --color-textMuted: #d4d49f;
  
  --color-accent: #eab308;
  --color-accentSoft: #facc15;
  
  --color-border: #2a2a1a;
}


/* ice blue */
@theme{
  --color-themeColor: #0a1a1f;
  --color-bgSurface: #14303a;
  
  --color-textPrimary: #e0f7ff;
  --color-textMuted: #9fc5e8;
  
  --color-accent: #0ea5e9;
  --color-accentSoft: #38bdf8;
  
  --color-border: #14303a;
}